body {
    font-family: 'Roboto', sans-serif;
    background: #F6F6F6;
}

@mixin webkit {
    -webkit-background-clip: text;        /* Limiter le dégradé au texte */
    -webkit-text-fill-color: transparent; /* Rendre le texte transparent */
     background-clip: text;
}

@keyframes like {

    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}


@keyframes test {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media only screen and (max-width: 768px) {
    
    header {
        display: flex;
        width: 100%;
        height: 63px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

            .logo {
                width: 162px;
                display: flex;
            }

            a {
                border: none;
                background: none;
                font-size: 30px;
                position: absolute;
                left: 30px;
                color: inherit;
                
                    &:active {
                        color: inherit;
                    }
            }

            .menuimg{  
                width: 100%;
                height: 275px;
                position: absolute;
                top: 63px;
                object-fit: cover;
            }
        

    }

    main {
        background: rgba(246, 246, 246, 1);
        border-radius: 40px 40px 0px 0px;
        padding-top: 32px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        position: absolute;
        top: calc(315px - 32px);

        .maintitle {
            
            width: 90.93%;



            h1 {
                font-family: shrikhand;
                font-weight: 400;
                font-size: 28px;
                color: #101010;
                width: 100%;
                height: 29px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                white-space: nowrap;

                .fa-heart {
                    font-size: 22px;
                    width: 24px;
                    display: flex;
                    justify-content: center;

                    
                     &:active {
                         animation: like 2s;
                         font-weight: bold;
                         background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
                         @include webkit;                
                         }   
    
                }
            }
        }

        .art {
            width: 93.07%;
            min-height: 270px;
            max-height: 351px;
            gap: 12px;
            display: flex;
            flex-direction: column;

            h2 {
                display: flex;
                width: 78.8%;
                height: 30px;
                font-weight: 300;
                font-size: 16px;
                position: relative;
            }    

            h2::after {
                content: "";
                position: absolute;
                width: 40px;
                height: 3px;
                bottom: 3px;
                left: 0;
                bottom: 0;
                background-color: #99E2D0;
            }

            &__ent {
                display: flex;
                align-items: center;
                width: 100%;
                height: 69px;
                border-radius: 15.04px;
                background-color: white;
                box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001A;
                overflow: hidden;

                &--text {
                    height: 42px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 5px;
                    padding: 15px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;


                    h3 {
                        font-size: 15.6px;
                        height: 21px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;    
                    }

                    p{
                        font-weight: 300;
                        font-size: 14px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;    
                    }

                }

                a {
                    height: 42px;
                    font-size: 15.04px;
                    font-weight: 700;
                    margin-left: auto;
                    padding-top: 50px;
                    padding-right: 15px;
                }
                
                .btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 59px;
                    height: 100%;
                    border-radius: 0px 15px 15px 0px;
                    background: rgba(153, 226, 208, 1);
                    border: none;
                    transition: all 0.5s;
                    margin-right: -59px;

                    i {
                        display: flex;
                        line-height: 20px;
                        justify-content: center;
                        background-color: white;
                        color: rgba(153, 226, 208, 1);
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;
                        font-size: 14px;
                    }
                }


                &:active {

                    .btn {
                        margin-right: 0;
                    }

                }
            }
        }

        .entrees {
            animation: test 2s backwards;
        }

        .plats {
            animation: test 2s 0.75s backwards;
        }

        .desserts {
            animation: test 2s 1.5s backwards;
        }

        .btncommand {
            width: 186px;
            height: 50px;
            background: linear-gradient(353.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            border-radius: 25px;
            border: none;
            font-weight: 500;
            font-size: 16px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;

            &:active {
                transform: scale(1.01) translate(1px, 0.7px);
                transition: transform 0.3s ease-out;
                box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.25);
                opacity: 0.8;
            }
        }

    }

    footer {
        position: relative;
        top: 1352px;
        height: 186px;
        width: calc(100% - 25px);
        background-color: #353535;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        padding-left: 25px;

        a {
            text-decoration: none;
            color: white;
        }
    
        h1 {
            height: 27px;
            font-family: Shrikhand;
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
        }
    
        div {
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 7px;
            font-size: 16px;
    
            .i {
                font-weight: 500;
            }
    
            .p {
                font-weight: 400;
            }
        }

        &.fourft {
            position: absolute;
            top: 1491px;
        }
    
    }
    
}