@mixin webkit {
    -webkit-background-clip: text;        /* Limitez le dégradé au texte */
    -webkit-text-fill-color: transparent; /* Rendez le texte transparent */
}

@media only screen and (min-width: 769px) {

html {
    display: flex;
    flex-direction: column;
    align-items: center;

    
body {

    max-width: 1920px;

header {

    height: 146px;
    display: flex;

    .imgh {
        height: 96px;            

            img {
                top: 30px;
                }
        }
}

main {
    height: initial;

.firstparty {

    height: 179px;
    margin: 33px 0;
    width: 100%;
    justify-content: space-between;
    
    h1 {
        font-size: 40px;
        line-height: 40px;
        position: relative;
        top: initial;
    }

    p {
        position: relative;
        top: initial;
    }

    .restaubtn {
        position: relative;
        top: initial;
    }
        
}
    
.fonct {
    position: relative;
    top: initial;
    height: 228.38px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        position: relative;
        top: initial;
        width: 275px;
        left: 12.5%;
    }

    &__menu {
        height: 72.38px;
        position: sticky;
        left: 13.37%;
        gap: 25px;
    }

    &__bal1, &__bal2, &__bal3 {
        position: relative;
        top: initial;
        width: 23.26%;

        .num {
            right: 44px;
        }

        &:hover {

            i {
                color: #9356DC;
            }
        }

    }

}

.restaurantsection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 608px;
    gap: 28px;
    padding: 28px 0;

    .title {
        position: relative;
        top: initial;
        left: 12.5%;
        height: 28px;
    }

    .resto {
        display: flex;
        position: relative;
        top: initial;
        left: 12.5%;
        width: 75%;
        height: 552px;
        gap: 50px;

        &__flex {
            display: flex;
            flex-direction: row;
            height: 251px;
            gap: 100px;
        }

        &__cont {
                display: flex;
                flex-direction: column;

                .newheart {
                    
                    .two {

                        &:hover {
                            opacity: 1;
                            color: transparent;
                            background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
                            @include webkit;
                        }

                        &:not(:hover) {
                            opacity: 0;
                            background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
                            @include webkit;
                        }
                    }
                }

                .heart {

                    .two {

                        &:hover {
                            opacity: 1;
                            color: transparent;
                            background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
                            @include webkit;
                        }

                        &:not(:hover) {
                            opacity: 0;
                            background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
                            @include webkit;
                        }
                    }
                }

        }

    }

}

}

footer {
    position: initial;
    height: calc(114px - 60px);
    width: 100%;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 30px 0;

    h1 {
        position: relative;
        right: 25px;
    }

    div {
        height: calc(114px - 60px);
        align-items: flex-end;
        flex-direction: row;
        position: relative;
        right: 25px;

        .i {
            width: 190px;
            height: 19px;
        }

        .p {
            width: 60px;
            height: 17px;
        }

        .p1 {
            width: 130px;
        }

        .fa-utensils {
            font-size: 12px;
        }

        .fa-handshake {
            font-size: 12.5px;
        }
    }

}
}
}
}