@media only screen and (min-width: 768px) {
  header {
    height: 146px;
  }
  header .imgh {
    height: 96px;
    align-items: center;
  }
  header .imgh img {
    position: inherit;
    width: 200px;
    height: 34.2px;
  }
  .firstparty {
    height: 239px;
    width: 100%;
  }
  .firstparty h1 {
    top: 176px;
    font-size: 40px;
    line-height: 46.88px;
    width: 645px;
    margin: 0;
  }
  .firstparty p {
    display: flex;
    align-items: center;
    top: 241px;
    height: 46px;
    margin: 0;
  }
  .firstparty a {
    top: 305px;
  }
  .fonct {
    flex-direction: row;
    gap: 25px;
  }
  nav .fonct {
    width: 100%;
    height: 228.38px;
    flex-direction: row;
  }
  nav .fonct h2 {
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    width: 100%;
    height: 31px;
    top: 48px;
    left: 5%;
  }
  nav .fonct__bal1, nav .fonct__bal2, nav .fonct__bal3 {
    display: flex;
    position: absolute;
    width: 37.02%;
    height: 72.38px;
    top: 0;
  }
  nav .fonct__bal1 {
    left: 180px;
  }
  nav .fonct__bal2 {
    left: 539px;
  }
  nav .fonct__bal3 {
    left: 898px;
  }
  nav .fonct__menu {
    display: flex;
    flex-direction: row;
    width: 73.13%;
    height: 72.38px;
    gap: 25px;
  }
  nav .fonct button {
    position: absolute;
    left: -4px;
    top: 26.68px;
    border-radius: 50%;
    color: white;
    background-color: #9356DC;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    width: 24px;
    height: 24px;
  }
  nav .fonct a {
    position: absolute;
    width: 96.26%;
    height: 72.38px;
    left: 10px;
    border-radius: 20px;
    background: #F6F6F6;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
    text-decoration: none;
  }
  nav .fonct a i {
    color: #7E7E7E;
  }
  nav .fonct a i:hover {
    color: #9356DC;
  }
  nav .fonct a i.fa-solid.fa-mobile-screen-button {
    position: absolute;
    left: 45px;
    top: 24.54px;
    font-size: 19px;
  }
  nav .fonct a i.fa-solid.fa-list-ul {
    position: absolute;
    left: 47px;
    top: 27.91px;
  }
  nav .fonct a i.fa-solid.fa-store {
    position: absolute;
    left: 48px;
    top: 26.67px;
    font-size: 18px;
  }
  nav .fonct a p {
    font-size: 16px;
    font-weight: 500;
    height: 15.67px;
    position: relative;
    top: 28.59px;
    display: flex;
    justify-content: center;
    color: #000000;
  }
  .restaurantsection .title {
    position: absolute;
    top: 894px;
    left: 20px;
    height: 68px;
    width: 275px;
    font-weight: 700;
    font-size: 24px;
  }
  .restaurantsection .resto {
    position: absolute;
    top: 942px;
    gap: 18px;
    width: 100%;
    height: 1058px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurantsection .resto__cont {
    width: 90.6%;
    height: 251px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .restaurantsection .resto__cont img {
    width: 100%;
    height: 174px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: 50% 100%;
  }
  .restaurantsection .resto__cont img.second {
    object-position: 50% 61%;
  }
  .restaurantsection .resto__cont--new {
    position: relative;
    top: -160px;
    left: 72.94%;
    width: 23.52%;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    border-radius: 2px;
    background-color: #99E2D0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #008766;
    font-weight: 500;
  }
  .restaurantsection .resto__cont--title {
    position: relative;
    top: 15px;
    font-weight: 700;
    font-size: 18px;
    left: 13px;
  }
  .restaurantsection .resto__cont--titlenew {
    position: relative;
    top: -15px;
    font-weight: 700;
    font-size: 18px;
    left: 13px;
  }
  .restaurantsection .resto__cont--name {
    position: relative;
    font-size: 17px;
    font-weight: 300;
    top: 20px;
    left: 13px;
  }
  .restaurantsection .resto__cont--namenew {
    position: relative;
    font-size: 17px;
    font-weight: 300;
    top: -10px;
    left: 13px;
  }
  .restaurantsection .resto__cont .newheart {
    position: relative;
    top: -45px;
    left: 86.17%;
    font-size: 22px;
  }
  .restaurantsection .resto__cont .heart {
    position: relative;
    top: -20px;
    left: 86.17%;
    font-size: 22px;
  }
  footer {
    position: absolute;
    top: 2066px;
    height: 186px;
    width: 100%;
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 22px 25px 22px 25px;
  }
  footer h1 {
    height: 27px;
    font-family: Shrikhand;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
  footer div {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 7px;
    font-size: 16px;
  }
  footer div .i {
    font-weight: 500;
  }
  footer div .p {
    font-weight: 400;
  }
}

/*# sourceMappingURL=style768min.css.map */
