@charset "UTF-8";
@keyframes like {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg) scale(0.5);
    border-bottom-color: rgb(147, 86, 220);
  }
  100% {
    transform: rotate(360deg) scale(0.5);
    border-top-color: rgb(147, 86, 220);
    visibility: hidden;
  }
}
@keyframes timehide {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
body {
  font-family: "Roboto", sans-serif;
  background: #F6F6F6;
}
body .load {
  animation: timehide 1.5s forwards;
  z-index: 1;
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
body .load .loader {
  z-index: 9999;
  height: 100px;
  width: 100px;
  border: 15px solid white;
  border-radius: 50%;
  animation: loading 1.5s;
}

@media only screen and (max-width: 768px) {
  header {
    height: 113px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  header .imgh {
    height: 63px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
    display: flex;
    justify-content: center;
    background-color: white;
  }
  header .imgh img {
    width: 197px;
    height: 36px;
    position: absolute;
    top: 14px;
  }
  header .location {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    position: relative;
    height: 50px;
    top: 0.5px;
    left: -0.5px;
    width: 100%;
    background: #EAEAEA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  header form input {
    text-align: center;
    border: none;
    background-color: #EAEAEA;
    width: 109px;
    position: relative;
    top: 2px;
  }
  header form input::placeholder {
    color: #353535;
    font-size: 16px;
    font-weight: 500;
  }
  .firstparty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .firstparty h1 {
    position: absolute;
    top: 152px;
    font-size: 23px;
    font-weight: 700;
    line-height: 28.13px;
    margin: 0 68px;
  }
  .firstparty p {
    font-weight: 300;
    font-size: 18px;
    color: rgb(53, 53, 53);
    position: absolute;
    top: 220px;
    margin: 0 30px;
  }
  .firstparty .restaubtn {
    position: absolute;
    top: 293px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(353.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 218px;
    height: 50px;
    transition: all 300ms;
  }
  .firstparty .restaubtn:active {
    transform: scale(1.01) translate(1px, 0.7px);
    transition: transform 300ms ease-out;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.25);
    opacity: 0.8;
  }
  .fonct {
    width: 100%;
    height: 440px;
    position: absolute;
    top: 400px;
    background-color: #FFFFFF;
  }
  .fonct h2 {
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    width: 95%;
    height: 31px;
    top: 48px;
    left: 5%;
  }
  .fonct__menu {
    display: flex;
    justify-content: center;
  }
  .fonct__bal1, .fonct__bal2, .fonct__bal3 {
    position: absolute;
    width: 89.3%;
    height: 72.38px;
    border-radius: 20px;
    background: #F6F6F6;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .fonct__bal1:active, .fonct__bal2:active, .fonct__bal3:active {
    color: #9356DC;
  }
  .fonct__bal1 .num, .fonct__bal2 .num, .fonct__bal3 .num {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -12px;
    border-radius: 50%;
    color: white;
    background-color: #9356DC;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    width: 24px;
    height: 24px;
  }
  .fonct__bal1 i, .fonct__bal2 i, .fonct__bal3 i {
    color: #7E7E7E;
    width: 27.73%;
    height: 72.38px;
  }
  .fonct__bal1 i.fa-solid, .fonct__bal2 i.fa-solid, .fonct__bal3 i.fa-solid {
    display: flex;
    justify-content: center;
    position: relative;
    top: 25px;
  }
  .fonct__bal1 p, .fonct__bal2 p, .fonct__bal3 p {
    width: 100%;
    height: 72.38px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
  }
  .fonct__bal1 p:hover i, .fonct__bal2 p:hover i, .fonct__bal3 p:hover i {
    color: #9356DC;
  }
  .fonct__bal1 {
    top: 105px;
  }
  .fonct__bal2 {
    top: 202.3px;
  }
  .fonct__bal3 {
    top: 299.62px;
  }
  .restaurantsection .title {
    position: absolute;
    top: 894px;
    left: 4.7%;
    height: 68px;
    width: 275px;
    font-weight: 700;
    font-size: 24px;
  }
  .restaurantsection .resto__flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
  .restaurantsection .resto {
    position: absolute;
    top: 942px;
    gap: 18px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurantsection .resto a {
    text-decoration: none;
    color: unset;
  }
  .restaurantsection .resto__cont {
    width: 90.6%;
    height: 251px;
    border-radius: 15px;
    background-color: white;
  }
  .restaurantsection .resto__cont img {
    width: 100%;
    height: 174px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: 100% 65%;
  }
  .restaurantsection .resto__cont img.second {
    object-position: 50% 61%;
  }
  .restaurantsection .resto__cont--new {
    position: relative;
    top: -160px;
    left: 72.94%;
    width: 23.52%;
    max-width: 110px;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    border-radius: 2px;
    background-color: #99E2D0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #008766;
    font-weight: 500;
  }
  .restaurantsection .resto__cont--title {
    position: relative;
    top: 15px;
    font-weight: 700;
    font-size: 18px;
    left: 13px;
    text-decoration: none;
    max-width: 250px;
  }
  .restaurantsection .resto__cont--titlenew {
    position: relative;
    top: -15px;
    font-weight: 700;
    font-size: 18px;
    left: 13px;
    max-width: 250px;
  }
  .restaurantsection .resto__cont--name {
    position: relative;
    font-size: 17px;
    font-weight: 300;
    top: 20px;
    left: 13px;
    max-width: 250px;
  }
  .restaurantsection .resto__cont--namenew {
    position: relative;
    font-size: 17px;
    font-weight: 300;
    top: -10px;
    left: 13px;
    max-width: 250px;
  }
  .restaurantsection .resto__cont .newheart .fa-heart {
    display: flex;
    justify-content: center;
    position: relative;
    top: -45px;
    left: 86.17%;
    font-size: 22px;
    width: 25px;
  }
  .restaurantsection .resto__cont .newheart .fa-heart:active {
    font-weight: bold;
    animation: like 1.2s;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text; /* Limitez le dégradé au texte */
    -webkit-text-fill-color: transparent; /* Rendez le texte transparent */
  }
  .restaurantsection .resto__cont .heart .fa-heart {
    display: flex;
    justify-content: center;
    position: relative;
    top: -20px;
    left: 86.17%;
    font-size: 22px;
    width: 25px;
  }
  .restaurantsection .resto__cont .heart .fa-heart:active {
    font-weight: bold;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text; /* Limitez le dégradé au texte */
    -webkit-text-fill-color: transparent; /* Rendez le texte transparent */
    animation: like 1.2s;
  }
  footer {
    position: absolute;
    top: 2066px;
    height: 142px;
    width: calc(100% - 50px);
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 22px 25px 22px 25px;
  }
  footer a {
    text-decoration: none;
    color: white;
  }
  footer h1 {
    height: 27px;
    font-family: Shrikhand;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
  footer div {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 7px;
    font-size: 16px;
  }
  footer div .i {
    font-weight: 500;
  }
  footer div .p {
    font-weight: 400;
  }
}

/*# sourceMappingURL=style768max.css.map */
