@charset "UTF-8";
@media only screen and (min-width: 769px) {
  body {
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .widthblock {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header {
    display: flex;
    width: 100%;
    height: 96.34px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
  header .logo {
    width: 200px;
    height: 34.2px;
  }
  header a {
    border: none;
    background: none;
    font-size: 30px;
    position: absolute;
    left: 30px;
    color: inherit;
  }
  header a:active {
    color: inherit;
  }
  header .menuimg {
    width: 100%;
    max-width: 1440px;
    height: 383px;
    position: absolute;
    top: 96px;
    object-fit: cover;
    object-position: 0 58%;
  }
  header .alafr {
    object-position: 0% 68%;
  }
  header .ledelice {
    object-position: 0% 73%;
  }
  main {
    background: rgb(246, 246, 246);
    border-radius: 40px 40px 0px 0px;
    padding-top: 42px;
    width: 73.26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: relative;
    top: 342.66px;
    padding-bottom: 40px;
  }
  main .maintitle {
    width: 90.93%;
    display: flex;
    justify-content: center;
  }
  main .maintitle h1 {
    font-family: shrikhand;
    font-weight: 400;
    font-size: 28px;
    color: #101010;
    width: 310px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main .maintitle h1 .fa-heart {
    font-size: 22px;
    width: 24px;
    display: flex;
    justify-content: center;
  }
  main .maintitle h1 .fa-heart:hover {
    font-weight: bold;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text; /* Limitez le dégradé au texte */
    -webkit-text-fill-color: transparent; /* Rendez le texte transparent */
    animation: like 3.2s;
  }
  main .art {
    width: 60.09%;
    min-height: 270px;
    max-height: 351px;
    gap: 12px;
    display: flex;
    flex-direction: column;
  }
  main .art h2 {
    display: flex;
    width: 78.8%;
    height: 30px;
    font-weight: 300;
    font-size: 16px;
    position: relative;
  }
  main .art h2::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    bottom: 3px;
    left: 0;
    bottom: 0;
    background-color: #99E2D0;
  }
  main .art__ent {
    display: flex;
    align-items: center;
    width: 100%;
    height: 69px;
    border-radius: 15.04px;
    background-color: white;
    box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
    overflow: hidden;
    cursor: pointer;
  }
  main .art__ent--text {
    height: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  main .art__ent--text h3 {
    font-size: 15.6px;
    height: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  main .art__ent--text p {
    font-weight: 300;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  main .art__ent a {
    height: 42px;
    font-size: 15.04px;
    font-weight: 700;
    margin-left: auto;
    padding-top: 50px;
    padding-right: 15px;
  }
  main .art__ent .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 59px;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    background: rgb(153, 226, 208);
    border: none;
    transition: all 0.5s;
    margin-right: -59px;
  }
  main .art__ent .btn i {
    display: flex;
    line-height: 20px;
    justify-content: center;
    background-color: white;
    color: rgb(153, 226, 208);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
  }
  main .art__ent:active .btn {
    margin-right: 0;
  }
  main .entrees {
    animation: test 2s backwards;
  }
  main .plats {
    animation: test 2s 0.75s backwards;
  }
  main .desserts {
    animation: test 2s 1.5s backwards;
  }
  main .btncommand {
    width: 186px;
    height: 50px;
    background: linear-gradient(353.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }
  main .btncommand:hover {
    transform: scale(1.01) translate(1px, 0.7px);
    transition: transform 0.3s ease-out;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.25);
    opacity: 0.8;
    cursor: pointer;
  }
  footer {
    position: relative;
    top: 344px;
    width: 100%;
    height: 54px;
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 16px;
    padding: 30px 0;
  }
  footer a {
    text-decoration: none;
    color: white;
  }
  footer h1 {
    height: 27px;
    font-family: Shrikhand;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    right: 25px;
  }
  footer div {
    height: 54px;
    display: flex;
    align-items: flex-end;
    list-style: none;
    gap: 7px;
    font-size: 16px;
    position: relative;
    right: 10.6%;
  }
  footer div .i {
    font-weight: 500;
    width: 190px;
    height: 19px;
  }
  footer div .p {
    width: 60px;
    height: 18.9px;
  }
  footer div .p1 {
    width: 130px;
  }
  footer div .fa-utensils {
    font-size: 12px;
  }
  footer div .fa-handshake {
    font-size: 12.5px;
  }
}

/*# sourceMappingURL=menu768min.css.map */
