body {
  font-family: "Roboto", sans-serif;
  background: #F6F6F6;
}

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header .topheader {
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
  header .topheader img {
    width: 52.53%;
    height: 36px;
    display: flex;
  }
  header .topheader button {
    border: none;
    background: none;
    font-size: 17px;
  }
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 315px;
  }
  main .maintitle {
    width: 90.93%;
  }
  main .maintitle h1 {
    font-family: shrikhand;
    font-weight: 400;
    font-size: 28px;
    color: #101010;
    width: 310px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main .maintitle h1 i {
    font-size: 22px;
  }
  main .art {
    width: 93.07%;
    height: 270px;
    gap: 12px;
    display: flex;
    flex-direction: column;
  }
  main .art h2 {
    width: 40px;
    height: 27px;
    font-weight: 300;
    font-size: 16px;
    border-bottom: 3px solid #99E2D0;
    border-spacing: 27px;
  }
  main .art__ent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 69px;
    border-radius: 15.04px;
    background-color: white;
    box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  }
  main .art__ent--text {
    width: 82.23%;
    height: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
  main .art__ent--text h3 {
    font-weight: 500;
    font-size: 18px;
    height: 21px;
  }
  main .art__ent--text p {
    height: 19px;
    font-weight: 300;
    font-size: 15.04px;
  }
  main .art__ent a {
    height: 42px;
    display: flex;
    align-items: end;
    font-size: 15.04px;
    font-weight: 700;
  }
  main .btncommand {
    width: 186px;
    height: 50px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer {
    position: absolute;
    top: 1404px;
    height: 186px;
    width: 100%;
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 0 25px;
  }
  footer h1 {
    height: 27px;
    font-family: Shrikhand;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
  footer div {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 7px;
    font-size: 16px;
  }
  footer div .i {
    font-weight: 500;
  }
  footer div .p {
    font-weight: 400;
  }
}

/*# sourceMappingURL=lapalettedugout.css.map */
